@media (min-width: 1024px) {
    .nav, .nav-ul, .nav-li, .nav-li-a, .nav-li-a::after {
        all: unset;
    }

    .nav-ul {
        display: flex;
        gap: 1em;
    }

    .nav-li-a {
        display: block;
        padding: 1rem;
        cursor: pointer;
    }
}