@media (min-width: 1024px) {
    .header {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 10px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header.scrollingUp {
        transform: translate(-50%, -20vh);
    }


    .actionMenu {
        padding: 10px;
        position: relative;
        width: fit-content;
        max-width: 150px;
    }

    .menuBtn {
        order: 1;
    }

    .themeBtn {
        position: fixed;
        top: 94vh;
        right: 2vw;
    }

    #hero, #about {
        max-width: 850px;
    }


    :where(#experience, #projects, #skills, #blog, #contact) {
        max-width: 992px;
        width: 90vw;
    }


    .flip-front {
        position: relative;
    }

    .projectCard {
        justify-content: space-between;
        min-height: 70vh;
        margin: auto;
    }

}