@media (min-width: 1024px) {

    .header {
        position: fixed;
        top: 1;
        left: 50%;
        transform: translateX(-50%);
        padding: 15px 10px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        transition: var(--ease-med);
        z-index: 4;
        overflow-y: visible;
    }

    .header.active {
        background: var(--bg-secondary);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.18);
    }

    .header.scrollingUp {
        transform: translateY(-20vh);
    }

    .actionMenu {
        padding: 10px;
        position: relative;
        width: fit-content;
        max-width: 150px;
    }

    .menuBtn {
        order: 1;
    }






}