@media (min-width: 768px) {
    .nav {
        all: unset;
        position: fixed;
        top: 0;
        right: 0;
        min-height: 100vh;
        min-width: 70vw;
        background: var(--text-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;
        transform: translateX(200vw);
        opacity: .5;
        transition: 500ms ease-in-out;
        margin: auto;
    }

    .nav.opened {
        opacity: 1;
        transform: translateX(0);
    }


    :where(#hero, #about, #experience, #projects, #skills, #blog, #contact) {
        max-width: 800px;
        width: 90vw;
        min-height: 90vh;
    }


    .heroContainer, .sectionContainer {

        width: 100%;
        max-width: 800px;

    }

    .subContainer {
        min-width: 100%;
        text-align: center;
    }

    .expContainer, .projectsContainer, .skills .subContainer {
        grid-template-columns: minmax(240px, 300px) 1fr;
        align-items: start;
        width: 100%;
    }

    .projectCard {

        margin: 0;

    }

    .flip-card-front {
        width: 100%;
        min-height: 40vh;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-top: 1.25rem;
        padding: 16px;
        border: 1px solid var(--border-color);
        border-radius: 2rem;
        background: var(--bg-secondary);
    }

    #projectCard .projectCard {
        margin-bottom: 1rem;

    }

    .project-tab {
        display: unset;
    }

    .links-flex .infoBox {
        display: none !important;
    }


    .switchCategories {
        flex-direction: column;
        position: sticky;
        top: 120px;
        left: 0;
    }


    .skill-item {

        justify-content: unset;

    }
}